extends layout

block head 
    title 설해원 Only One Resort 사용자 관리페이지

block content
    if error
        script.
            alert('아이디와 비밀번호를 확인해주세요.');
    .sign-in_container 
        div.text-center
            h1.mb-4.font-bold 관리자 페이지
        img.mb-4(src='/images/img_03.png' alt='')
        div
            form(class="form-signin" method="POST" action="/admin/login")
                input#inputID.form-control(name="userID", type='userid' placeholder='관리자 아이디' required='' autofocus='1')
                input#inputPassword.form-control(name="password", type='password' placeholder='관리자 비밀번호' required='')
                button.btn-primary.btn-lg.form-control(type='submit' class="btn btn-dark") 로그인
