extends mgmt_layout

block head 
    title 설해원 Only One Resort

    script(src='https://unpkg.com/babel-standalone@6.26.0/babel.min.js')
    script(src='https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js')
    script(src='https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js')
    link(rel='stylesheet' href='https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css')

    link(rel='stylesheet' href="https://uicdn.toast.com/tui.date-picker/v4.1.0/tui-date-picker.css")
    link(rel='stylesheet' href="https://uicdn.toast.com/tui.time-picker/v2.0.3/tui-time-picker.css")
    script(src='https://uicdn.toast.com/tui.time-picker/v2.0.3/tui-time-picker.js')
    script(src='https://uicdn.toast.com/tui.date-picker/v4.1.0/tui-date-picker.js')
    
    link(rel='stylesheet' href='/css/tui-grid/tui-grid.css')
    script(src='/js/tui-grid/tui-grid.js')

    link(href='/stylesheets/web.css' rel='stylesheet')


block contents
    .user-list.p-5
        h3.font-bold 관리자 목록
        .container#grid.p-5
        include ./listbtn.pug


    script(src="/js/jquery/jquery.js") 
    script(src="/scripts/adminlist.js")

    include ./info.pug
