extends mgmt_layout

block head 
    title 설해원 Only One Resort 관리페이지

block contents 
  div#intro.bg-video.opacity-75
      video(style='width: 100%;' playsinline='playsinline' autoplay='autoplay' muted='muted' loop='loop')
        source(src='/videos/brochure.mp4' type='video/mp4')