doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width')
    link(href='/css/bootstrap/bootstrap.min.css' rel='stylesheet')
    link(href='/stylesheets/web.css' rel='stylesheet')
    block head
    script(src='/js/bootstrap/bootstrap.bundle.min.js')
    block scripts 
body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.flex-row
        .container
            a.navbar-brand(href='/admin').font-bold.fs-2 관리페이지
                ul.navbar-nav.mr-auto
                    li.nav-item
                    a.nav-link(href='/admin/user').fs-5 사용자 목록
                    li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').fs-5 안녕하세요, #{username}님!
                    ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                        li
                        a.dropdown-item 정보 변경
                        li
                        hr.dropdown-divider
                        li
                        a.dropdown-item(href='#') 로그아웃
    block contents






