extends video_layout

block head 
    title 설해원 Only One Resort
    link(href='/js/video.js/video-js.css' rel='stylesheet')
    link(rel='stylesheet' href='/stylesheets/dt-theme.css' type='text/css' media='screen' charset='utf-8')


block scripts
    script(src='/js/video.js/video.js')
    script(src='/js/video.js-playlist/videojs-playlist.min.js')



block contents
    .vjs-theme-dt.bg-video
        video#player.video-js(onloadstart="this.volume=0.3" data-setup='{}')
    script.
        //document.getElementById("player").muted = false;

        window.HELP_IMPROVE_VIDEOJS = false;
        var player = videojs("player", {
            "controls": true,
            fluid: true});
        player.ready(function() {
            this.play();
        });
        player.playlist([
            {
                sources: [{
                    src: './videos/1.mp4',
                    type: 'video/mp4'
                }],
                poster: './images/bg_01.png'
            },
            {
                sources: [{
                    src: './videos/2.mp4',
                    type: 'video/mp4'
                }]
            }]);
        player.playlist.autoadvance(0);
        player.playlist.repeat(false);


