html,
body {
  font-family: 'NanumBarunGothic';
}

.gray-bg{
  background-color: gainsboro;
}

.container {
  position: relative;
}

.h-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.tui-grid-container,
.tui-grid-container p,
.tui-grid-container input,
.tui-grid-container textarea {
  width: 100%;
  position: relative;
  font-size: 19px;
  text-align: center;
  font-family: 'NanumBarunGothic';
}

.user-list {
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: stretch;
}

.min-vh-25 { 
  min-height: 25vh; 
}

.min-vh-50 { 
  min-height: 50vh; 
}

.min-vh-75 { 
  min-height: 75vh; 
}

.bg-video{
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.font-normal {
  font-weight: normal;
}
.font-bold {
  font-family: 'NanumBarunGothic Bold';
}
.font-bolder {
  font-weight: bolder;
}
.font-lighter {
  font-weight: lighter;
}

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/fonts/Nanum/NanumBarunGothic.eot');
  src: url('/fonts/Nanum/NanumBarunGothic.eot') format('embedded-opentype'),
  url('/fonts/Nanum/NanumBarunGothic.woff') format('woff');
}

@font-face {
  font-family: 'NanumBarunGothic Bold';
  src: url('/fonts/Nanum/NanumBarunGothicBold.eot');
  src: url('/fonts/Nanum/NanumBarunGothicBold.eot') format('embedded-opentype'),
  url('/fonts/Nanum/NanumBarunGothicBold.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('/fonts/SF-Pro/SF-Pro-Display-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Text Light';
  src: url('/fonts/SF-Pro/SF-Pro-Text-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Text Regular';
  src: url('/fonts/SF-Pro/SF-Pro-Text-Regular.woff2') format('woff2');
}